---
layout: default
---
<div class="row m-0">
	<div class="posts" style="color: #4f5256;">
    {% for post in paginator.posts %}
    <article class="post">
        <h1 class="mb-0"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
          <div class="date">
    {{ post.date | date: "%e %B %Y" }}
  </div>
        <div class="entry">
            {{ post.content }}
        </div>
    </article>
    {% endfor %}
</div>
</div>

{% if paginator.total_pages != 1 %}
<div class="row d-flex justify-content-center m-0">
	<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
</div>
<div class="row d-flex justify-content-center m-0">
	 <nav class="pagination" role="pagination">
            
            {% if site.paginate_path != 'page:num'%}
            {% assign paginate_url = site.paginate_path | remove:'/page:num' %}
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="{{ site.url }}/{{ paginate_url }}/" class="btn" title="Newer Posts">&larr; Newer Posts</a>
            {% else %}
            <a class="newer-posts" href="{{ site.url }}/{{ paginate_url }}/page{{ paginator.previous_page }}/" class="btn" title="Newer Posts">&larr; Newer Posts</a>
            {% endif %}
            {% endif %}
            {% if paginator.next_page %}
            <a class="older-posts" href="{{ site.url }}/{{ paginate_url }}/page{{ paginator.next_page }}/" class="btn" title="Older Posts">Older Posts &rarr;</a>
            {% endif %}
            {% else %}
            {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="{{ site.url }}/" class="btn" title="Newer Posts">&larr; Newer Posts</a>
            {% else %}
            <a class="newer-posts" href="{{ site.url }}/page{{ paginator.previous_page }}/" class="btn" title="Newer Posts">&larr; Newer Posts</a>
            {% endif %}
            {% endif %}
            {% if paginator.next_page %}
            <a class="older-posts" href="{{ site.url }}/page{{ paginator.next_page }}/" class="btn" title="Older Posts">Older Posts &rarr;</a>
        </nav>
</div>


{% endif %}
{% endif %}
{% endif %}