---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab&display=swap');

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  color: $darkGray;
}

body {
	background: $white;
  font: 18px/1.4 $SansSerif;
  color: $darkGray;
  font-weight: 300; 
}

.container-jk {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $SansSerif;
  color: $darkerGray;
  font-weight: 700;

  line-height: 1.7;
  margin: 20px 0 ;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

.h1, h1 {
  font-size: 1.8rem;
  a {
    color: inherit;
  }
}

.h2, h2 {
  font-size: 1.5rem;
}

.h3, h3 {
  font-size: 1.2rem;
}

.h4, h4 {
  font-size: 1rem;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
  font-size: 0.95rem;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  /* margin-bottom: 50px; */
}

.masthead {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $SansSerif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 15px; // @TODO: Vertically middle align
  font-family: $SansSerif;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 20px 0;
  text-align: center;
    border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


/* Cards */


.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-product-list {
    margin-bottom: 20px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
}


/* CONTACT FORM */
/* Add styles to 'label' selector */
label {
    font-size: 0.85em;
    margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
    border: 1px solid green;
}

/* Add styles to the submit button */
input[type=submit] {
    background: #64B5F6;
    margin: 0 auto;
    outline: 0;
    color: white;
    border: 0;
    padding: 12px 24px;
    border-radius: 4px;
    transition: all ease-in-out 0.1s;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
    background: #A5D6A7;
    color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
    background: #2196F3;
}

/* POSTS UL */

ul.posts {
  list-style-type: none;
  margin-bottom: 1.5em;
  padding-left: 0;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: $Monospace;
    font-size: 80%;
  }

.tags {
    display: inline-block;
    color: #828282;
    font-size: 1em;
    font-weight: 300;
    list-style: none;
    border: 1px solid #828282;
    margin-right: .3rem;
    padding: 0.2em 0.5em;
    border-radius: 0.4em;
}

ul.tag-group {
    margin-bottom: 1rem;
    padding-left: 0;
    }

    li.tags {
    margin-bottom: .7rem;
    }

#SiteNavigation {
  text-align: center;
  line-height: 2.0rem;
  border-top: 1px solid #eee;
  padding-top: 10px;
}

  #SiteNavigation a {
    white-space: nowrap; /* Keep the 'buttons' intact when the window narrows. */
    text-decoration: none;
    padding: 3px 6px 3px 6px;
    border: 1px dotted rgb(187,187,187); /*col:Divider Light*/
        font-size: 15px;
        font-weight: 500;
  }

    #SiteNavigation a:hover, #SiteNavigation a:active {
      background-color: rgb(238,238,238); /*col:Navbutton Hover BG*/
    }

    #SiteNavigation a:visited {
      color: #990000; /*col:LinkActive*/
    }

    #SiteNavigation a i {
      vertical-align: text-top;
      margin-top: 1px; /* More accurate vertical alignment for the icon. */
      margin-right: 6px;
    }

#SiteNavigation a {
  color: #000;
}


.cover {
    float: left;
    width: 150px;
    padding: 0 1.5rem 1rem 0;
}

.book-list {
    margin-top: 2em;
    margin-left: 0;
    list-style-type: none;
    display: block;
}

.book-item {
    display: table;
    width: 100%;
    margin-bottom: 2rem;
    clear: left;
}

.book-title {
    font-family: $SansSerif;
    font-style: italic;
    text-decoration: none;
    color: #0077b3;
}

.book-title:visited {
    color: #990000;
}

.book-title:hover {
    color: #0099e6;
}

.book-author {
    color: #424242;
    line-height: 1.3;
    margin-bottom: 5px;
    font-size: 1rem;

}

.post-meta {
  font-size: 0.9rem;
  font-family: $Monospace;
}

.book-info p{
  margin-top: 0;
}
.entry img {
  border-radius: 30px;
}

/* Minimal */


h1, h2, h3, h4, h5, h6 {
  color:#222;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}


a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}


pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}


strong {
  color:#222;
  font-weight:700;
}

.downloads li + li + li {
  border-right:none;
  width:89px;
}

.downloads a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}


@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  .downloads {
    width:99%;
  }

  .downloads li, .downloads li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}